#auth-modal-wrapper{
    position: absolute;
    display:grid;
    place-content: center;
    place-items: center;
    z-index: 2520;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
}

#modal-body{
    border-radius: .75rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(600px, 90vw);
    aspect-ratio:  8 / 10;
}

#modal-header{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#auth-tab-title{
    font-size: 2rem;
}
#change-auth-tab{
    cursor: pointer;
    color:deepskyblue;
}

#change-auth-tab:hover{
    text-decoration:underline;
}

#close-modal-btn{
    position: absolute;
    right: 16px;
    top: 8px;
    border: none;
    color: #333;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    transition: color 150ms;
}
#close-modal-btn:hover{
    color: red;
}

#modal-header > h1{
    margin-top: 3vh;
    color: #333;
    flex-shrink: 0;
}
#modal-content{
    flex-grow: 1;
    
}

#modal-content > form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field:first-child{
    margin-block: 0px 16px;
}
.input-field:last-child{
    margin-block: 16px 0;
}

.input-field > label{
    color: #333;
}
.input-field > input{
    border: none;
    min-width: min(400px, 80vw);
    padding: 1.25rem 1rem;
    height: 1.5rem;
    border-radius: 100rem;
    color: #333;

}

.process-btn{
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#submit-btn{
    cursor: pointer;
    border: none;
    color: #333;
    background-color: whitesmoke;
    padding: 1rem 2.5rem;
    border-radius: 100rem;
}

svg{
    cursor: pointer;
}